{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/japanmenu.css' %}">

<body>
  <div class="main">
    <div class="category">{{category}}</div>

    <div class="pointer" style="display:flex; justify-content: center;">
      <img src="../static/img/arrow.png" style="height: 50px;">
    </div>

    <!--룰렛-->
    <div class="container">
      <div class="roulette">
        <div class="fill fill_1"></div>
        <div class="fill fill_2"></div>
        <div class="fill fill_3"></div>
        <div class="fill fill_4"></div>
        <div class="fill fill_5"></div>
        <div class="fill fill_6"></div>  
        <div class="fill fill_7"></div>  
        <div class="fill fill_8"></div>  
        <!-- content -->
        <div class="content content_1">우동</div>
        <div class="content content_2">규동</div>
        <div class="content content_3">초밥</div>
        <div class="content content_4">돈까스</div>
        <div class="content content_5">카레</div>
        <div class="content content_6">모밀</div>
        <div class="content content_7">라멘</div>
        <div class="content content_8">일식덮밥</div>
      </div>
      <div style="display: flex; justify-content:space-around;">
        <button class="trigger">뽑기</button>
      </div>
      <div style="display: flex; justify-content:space-around;" class="print_menu">
        <p>오늘은... <a href="#" class="link"><span id="menu_f"></span></a></p>
      </div>
    </div>
    <div class="btnToHome">
      <a href="{%url 'roulette:mainpage' %}">처음으로🏠</a>
    </div>
  </div>

  <script>
    const roulette = document.querySelector(".roulette");
    const content=document.querySelectorAll(".roulette .fill .content");
    const trigger = document.querySelector(".trigger");
    const BASE_ROTATE_DEG=7200;
    const ROULETTE_DATA=['우동','규동','초밥','돈까스','카레','모밀','라멘','일식덮밥']
    var url="{% url 'roulette:map' 123 %}"
    const loopAnimationOptions={
      fill:'forwards',
      duration:3000,
      easing:'ease-in-out'
    }
    trigger.addEventListener("click",onClickTrigger);
    function onClickTrigger(e) {
      const selectedIdx=parseInt(Math.random()*ROULETTE_DATA.length);
      const additionalDeg=-(360/ROULETTE_DATA.length)*selectedIdx-22.5;
      var resultMenu=ROULETTE_DATA[selectedIdx];
      const totalDeg=BASE_ROTATE_DEG+additionalDeg;
      const loopAnimation=[
        {transform:'rotate(0deg)'},
        {transform:`rotate(${totalDeg}deg)`}
      ];
      roulette.animate(loopAnimation,loopAnimationOptions);

      roulette.animate(loopAnimation,loopAnimationOptions);


      selected_menu = document.getElementById('menu_f');
      setTimeout(() => {
        trigger.innerHTML="다시 돌리기";
        selected_menu.innerHTML=`${resultMenu} (👈클릭!)`;
      }, 3000);

      // document.getElementById('menu_f').innerHTML=resultMenu;
      $('.link').attr('href',url.replace('123',resultMenu));
    }

  </script>
</body>

{% endblock %}