{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>돌려돌려 메뉴판-한식</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.sobekrepository.org/includes/jquery-rotate/2.2/jquery-rotate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
	<div class="roulette_box">
		<img src="{% static 'img/marker.png' %}" class="marker" alt="마커">
		<a href="javascript:;" class="btn_start"><button>메뉴 고르기</button></a>
		<img src="{% static 'img/koreanfood.png' %}" class="wheel" alt="룰렛이미지">
		<p>오늘의 메뉴는 <span id="menu"></span></p>
	</div>
  <div>
    <a href="{% url 'roulette:mainpage' %}"><button>처음으로</button></a>
  </div>

	<script>
		var _btnStart;
		var _wheel;
		var _items;
		var _mTime;
		function init()
		{
			create();
			addEvent();
		}

		function create()
		{
			_btnStart = $( ".btn_start" );
			_wheel = $( ".wheel" );
			_items = [ "된장찌개", "제육볶음", "삼겹살", "떡볶이" ];
			_mTime = 1;
		}

		function addEvent()
		{
			_btnStart.on( "click", btnStartClick );
		}

		function btnStartClick( $e )
		{
			spinMotion();
		}

		var _count = 0;
		//움직이는 모션
		function spinMotion()
		{
			TweenMax.to( _wheel, _mTime, { rotation:360, ease:Power0.easeInOut, onComplete:function(){
				TweenMax.set( _wheel, { rotation:0 });
				_count ++;
				if( _count > 0 ){
					randomValue();
					return;
				}
				spinMotion();
			}});
		}
		//결과값 추출
		function randomValue(){
			var ran = parseInt( Math.random() * _items.length );
			angleCount( ran );
		}
		//결과값 맞게 움직이는 모션
		function angleCount( $ran )
		{
			TweenMax.killTweensOf( _wheel );
			TweenMax.set( _wheel, { rotation:0 });
			
			var angle = 360 / _items.length;

			TweenMax.to( _wheel, _mTime, { rotation: $ran * angle , ease:Power0.easeInOut, onComplete:function(){
				document.getElementById('menu').innerHTML = _items[ $ran ];
			}});
		}

		$( document ).ready( function(){
			init();
		});
	</script>
</body>
</html>